@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

.bg-danger {
  background: url("https://unsplash.com/photos/75xPHEQBmvA/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8Mnx8UGF0dGVybnx8MHx8fHwxNjM0NDAxMTg0&force=true&w=1920");
}

.container {
  font-family: "Source Code Pro", monospace;
  max-width: max-content;
  max-height: max-content;
  margin-top: 10px;
  background: url("https://unsplash.com/photos/7JX0-bfiuxQ/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8OXx8UGF0dGVybnx8MHx8fHwxNjM0NDAxMTg0&force=true&w=1920");
  border: rgba(0, 0, 0, 0.1) solid 0.1rem;
}

.form-group {
  padding: auto;
  margin: auto;
  border-radius: 5px;
}

.jumbotron {
  background: url("https://unsplash.com/photos/-odUkx8C2gg/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8Nnx8UGF0dGVybnx8MHx8fHwxNjM0NDAxMTg0&force=true&w=1920");
}

.btn {
  border-radius: 10px;
}
